<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Budget Planner
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row >
      <ion-col size-md="6" offset-md="3">
        <ion-card>
          <ion-card-header>
            <ion-card-title><strong>New expense</strong></ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item>
              <ion-label position="floating">Reason</ion-label>
              <ion-input></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Budget</ion-label>
              <ion-input></ion-input>
            </ion-item>

            <div class="ion-margin ion-float-right">
              <ion-button color="danger" fill="outline">
                <ion-icon slot="start" name="close-outline"></ion-icon>
                Clear
              </ion-button>
              <ion-button color="primary">
                <ion-icon slot="start" name="add-outline"></ion-icon>
                Add expense
              </ion-button>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
